

.gray-text {
	font-size: 16px;
	padding: 8px;
	color: gray;
}

.black-text {
	font-size: 16px;
	padding: 8px;
	color: black;
}

.form-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}

.form-col {
	flex: 0 0 48%;
	display: flex;
	flex-direction: column;
}

.form-label {
	margin-bottom: 0.5rem;
}

.form-required {
	font-size: smaller;
	color: rgb(126, 33, 33);
}

.form-optional {
	font-size: smaller;
	color: #1C495E;
}

.form-search {
	background-color: rgb(0, 102, 255);
	color: white;
}

.person-name {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.lifespan {
	text-align: center;
}

.portrait {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.spouse-portrait,
.parent-portrait {
	width: 25px;
	border-radius: 50%;
	margin-right: 5px;
}

.results {
	list-style: none;
	align-items: stretch;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 15px;
}

.results-hint {
	text-align: center;
}

.search-result {
	cursor: pointer;
	background-color: #B08459;
	box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px, rgb(0 0 0 / 12%) 0px 2px 1px,
		rgb(0 0 0 / 20%) 0px 1px 3px;
	border-radius: 5px;
	padding: 10px;
	width: 200px;
	font-size: small;
	min-height: 400px;
	object-fit: contain;
}

.overflow-div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.birth,
.spouse,
.parent {
	margin-top: 10px;
}

.search-result {
	transition: background-color 0.2s ease;
}

.search-result:hover {
	background-color: #f2f2f2;
}





/* NEW STYLES FOR FORM BOX */
.role-select-box {
    background-color: #B08459;
    color: #FFFFF0;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    border-radius: 15px;
    max-width: 650px;
}
