/* Main CSS - Import all styles */

/* Global App Styles */
#root {
	font-family: 'InstrumentSans';
	text-decoration: none;
}

/* Prevent scroll when popup is open */
html.popup-open,
body.popup-open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;
	touch-action: none;
}


@font-face {
	font-family: InstrumentSans;
	src: url('src/fonts/InstrumentSans-VariableFont_wdth,wght.ttf');
}

@font-face {
	font-family: InstrumentSerif;
	src: url('src/fonts/InstrumentSerif-Regular.ttf');
}